@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--description);
  overflow-x: hidden;
  width: 100%;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: #999 #fff;
}
body:-webkit-scrollbar-track {
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 3px solid #fff;
  background-color: #999;
}

/* ::-webkit-input-placeholder {
  color: #6f6f6f;
}
:-moz-placeholder {
  color: #6f6f6f;
  opacity: 1;
}
::-moz-placeholder {
  color: #6f6f6f;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #6f6f6f;
}
::-ms-input-placeholder {
  color: #6f6f6f;
}
::placeholder {
  color: #6f6f6f;
} */
h3 {
  font-size: clamp(1rem, 10vw, 2rem);
  line-height: 78px;
  font-weight: 500;
  color: var(--white-title);
  font-family: "Jost", sans-serif;
}
span {
  font-size: 19px;
  line-height: 24px;
  font-weight: 500;
}
li {
  font-family: "Jost", sans-serif;
  line-height: 30px;
  font-weight: 500;
  color: var(--white-title);
  list-style: none;
  line-height: 30px;
  cursor: pointer;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
.button {
  font-family: "Jost", sans-serif;
  padding: 0.8rem 2.4rem;
  background-color: var(--button-primary);
  width: max-content;
  color: var(--white-title);
  font-weight: 500;
  cursor: pointer;
  border-radius: 50px;
  overflow: hidden;
}

@media (max-width: 1600px) {
  .button {
    padding: 15px 40px;
    font-size: 18px;
  }
  h3 {
    font-size: 85px;
    line-height: 111px;
  }
}
@media (max-width: 1200px) {
  h3 {
    font-size: 60px;
    line-height: 78px;
  }
}
@media (max-width: 1040px) {
  h3 {
    font-size: 55px;
    line-height: 72px;
  }
}
@media (max-width: 768px) {
  h3 {
    font-size: 42px;
    line-height: 55px;
  }
}
/* **** Styling the mobile Version **** */

@media (max-width: 1920px) {
  .span__header {
    margin-bottom: 6px;
    color: var(--button-primary);
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    font-family: jost, sans-serif;
  }

  .h3__header {
    margin: 0px 0px 16px;
    font-size: 48px;
    line-height: 60px;
  }
  .p__header {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (max-width: 1200px) {
  .span__header {
    margin-bottom: 6px;
    color: var(--button-primary);
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    font-family: jost, sans-serif;
  }

  .h3__header {
    margin: 0px 0px 16px;
    font-size: 38px;
    line-height: 48px;
  }
  .p__header {
    font-size: 16px;
    line-height: 30px;
  }
}
@media (max-width: 1040px) {
  .span__header {
    margin-bottom: 6px;
    color: var(--button-primary);
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: jost, sans-serif;
  }

  .h3__header {
    margin: 0px 0px 16px;
    font-size: 35px;
    line-height: 44px;
  }
  .p__header {
    font-size: 16px;
    line-height: 30px;
  }
}

/* **** Styling the header the version Desktop *****/

.app__header {
  background-image: url(./images/background_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  padding: 1.45rem 17.6rem;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  align-content: center;
  margin-inline: auto;
  font-family: "Jost", sans-serif;
  position: static;
  width: min(100%, 1560px);
}
.header__logo {
  align-self: center;
}

.header__logo img {
  height: auto;
  vertical-align: middle;
}
.header__links {
  display: flex;
}
.header__links ul {
  display: flex;
  gap: 1.9rem;
  align-items: center;
}

.header__links > ul > li:nth-last-child(1) {
  padding: 8px 35px 7px;
  background-color: transparent;
  outline: 2px solid var(--button-primary);
  color: var(--white-title);
  border-radius: 50px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
a {
  text-decoration: none;
  color: var(--white-title);
  border: none;
}
.mobile__nav {
  display: none;
}

/* **** Styling the header Content ***** */
.app__content {
  background-color: var(--background-color);
}
.header__content {
  display: flex;
  width: 100%;
}
.content__left,
.content__right {
  flex-basis: 50%;
}
.content__left {
  text-align: start;
  padding-top: 5.5rem;
  display: flex;
  flex-direction: column;
}

.content__left p > span:nth-child(1) {
  color: var(--primary--green);
}
.content__left p {
  padding: 0.8rem 0 1.4rem 0;
  color: var(--white-title);
  font-size: 19px;
  line-height: 24px;
}
.content__left p > span:nth-child(2) {
  color: var(--secondary--yellow);
}
.text {
  padding: 0 0 2rem 0;
}
.content__right {
  padding-top: 2.5rem;
  width: 100%;
  align-self: flex-end;
  align-self: center;
  position: relative;
  z-index: 1;
}
.content__right > img:first-of-type {
  margin: 0 7.2rem;
  max-height: 400px;
}
/* **** Styling the header Menue For version Mobile **** */

@media (max-width: 1920px) {
  body {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
  }
  .app__header {
    padding: 1.9rem 16.8rem;
  }
  .header__links {
    display: flex;
  }
  .header__logo {
    align-self: center;
  }

  .header__logo > img {
    max-width: 150px;
    max-height: 80px;

    vertical-align: middle;
  }
  .header__links ul {
    gap: 3rem;
  }

  .h3__sm {
    font-size: 45px;
    line-height: 59px;
    color: var(--secondary-orange);
  }
  .h3__lg {
    font-size: 85px;
    line-height: 111px;
  }
  .p__content {
    font-size: 28px;
    line-height: 30px;
    font-weight: 500;
  }
  .text {
    color: var(--white-title);
    font-size: 23px;
    line-height: 35px;
  }
}
@media (max-width: 1680px) {
  body {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
  }
  .app__header {
    padding: 1.9rem 11rem;
  }
  .header__links {
    display: flex;
  }
  .header__logo {
    align-self: center;
  }

  .header__logo > img {
    max-width: 150px;
    max-height: 80px;
    height: auto;
    vertical-align: middle;
  }
  .header__links ul {
    gap: 3rem;
  }
}

@media (max-width: 1600px) {
  .h3__sm {
    font-size: 25px;
    line-height: 33px;
    color: var(--secondary-orange);
  }
  .h3__lg {
    font-size: 60px;
    line-height: 78px;
  }
  .p__content {
    font-size: 60px;
    line-height: 78px;
    font-weight: 500;
  }
  .text {
    color: var(--white-title);
    font-size: 16px;
    line-height: 24px;
    max-width: 90%;
  }
}
@media (max-width: 1440px) {
  body {
    font-size: 16px;
  }
  .header__links > ul > li:nth-last-child(1) {
    padding: 5px 25.2px 5px;
  }
  .app__header {
    padding: 1.3rem 9.6rem;
  }
  .header__links {
    display: flex;
  }
  .header__logo > img {
    max-width: 110px;
    max-height: 32.063;
    height: auto;
    vertical-align: middle;
  }
  .header__links ul {
    gap: 1.875rem;
  }
}

@media (max-width: 1200px) {
  .app__header {
    padding: 1.45rem 2.5rem;
  }
}
@media (max-width: 1040px) {
  .app__header {
    padding: 15px 40px;
  }
  .header__links {
    display: flex;
  }
  .header__links > ul > li:nth-last-child(1) {
    padding: 5px 25px;
  }
  .header__content {
    flex-direction: column;
  }
  .header__logo > img {
    max-width: 300px;
    max-height: 300px;
    height: auto;
    vertical-align: middle;
  }
  .content__left,
  .content__right {
    flex-basis: none;
    width: 100%;
    align-items: center;
  }
  .content__left {
    order: 2;
  }
  .content__right {
    order: 1;
  }

  .h3__sm {
    font-size: 25px;
    line-height: 33px;
    color: var(--secondary-orange);
  }
  .h3__lg {
    font-size: 55px;
    line-height: 72px;
  }
  .p__content {
    font-size: 23px;
    line-height: 30px;
    font-weight: 500;
  }
  .text {
    color: var(--white-title);
    font-size: 20px;
    line-height: 30px;
    max-width: 90%;
  }
}

@media (max-width: 1040px) {
  .app__header {
    padding: 10px 20px;
  }
  .header__links {
    display: none;
  }
  .mobile__nav {
    display: block;
  }
  .mobile__nav i {
    font-size: 25px;
    color: var(--white-title);
  }
  .header__logo img {
    max-width: 220px;
    max-height: 220px;
  }
  .header__content {
    flex-direction: column;
  }

  .content__left,
  .contact__right {
    flex-basis: none;
    text-align: center;
  }
  .content__left {
    order: 2;
  }
  .content__right {
    order: 1;
    padding: 0;
    align-self: center;
  }
  .content__right > img {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .h3__sm {
    font-size: 25px;
    line-height: 33px;
    color: var(--secondary-orange);
  }
  .h3__lg {
    font-size: 42px;
    line-height: 55px;
  }
  .p__content {
    font-size: 23px;
    line-height: 30px;
    font-weight: 500;
  }
  .text {
    color: var(--white-title);
    font-size: 16px;
    line-height: 24px;
  }
}
/* *** Styling the content Version Desktop ***** */

/* Styling the detaills content Version Desktop */
.app__detaills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 11.875rem 7.6rem;
  gap: 4rem;
  text-align: center;
  align-items: center;
  width: 100%;
  width: min(100%, 1560px);
  margin-inline: auto;
}
.app__detaills > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 30px;
}
.app__detaills > div > p {
  margin-top: 1.25rem;
}
.detaills__image {
  position: relative;
  display: inline-block;
  z-index: 1;
  transition: all 0.4s ease;
  margin-bottom: 1.875rem;
}
.detaills__image > img:first-child() {
  max-width: 125px;
  position: relative;
}
.detaills__image > img:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
}
.detaills__image img {
  object-fit: cover;
  width: 100%;
}
.app__detaills h3 {
  font-size: 24px;
  line-height: 31.2px;
}

/* ****styling the content Section Verions Mobile .**** */

@media (max-width: 1680px) {
  .detaills__image > img:nth-child(1) {
    width: 90px;
  }
  .detaills__image > img:nth-child(2) {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 1040px) {
  .app__detaills {
    display: grid;
    grid-template-columns: none;
    grid-template-row: repeat(3, 1fr);
    padding: 6rem 20px;
    gap: 5.3rem;
    text-align: center;
    align-items: center;
    width: min(100%, 1560px);
    margin-inline: auto;
  }
}

/* **** Styling the about section Version desktop **** */
.app__about {
  position: relative;
  width: 100%;
}
.app__about > div {
  padding: 0rem 7.6rem 5rem;
  display: flex;
  align-items: center;
  width: 100%;
  width: min(100%, 1560px);
  margin-inline: auto;
  gap: 2rem;
}
.about__right,
.about__left {
  flex-basis: 50%;
}
.image__about__left,
.images__about__right {
  position: absolute;
}
.image__about__left {
  left: 100px;
  top: -100px;
}
.images__about__right {
  bottom: -50px;
  right: 0;
}
.about__left {
  padding-left: 60px;
  position: relative;
}

.about__left > img {
  max-height: 800px;
}
.about__years {
  position: absolute;
  background-color: var(--background-service);
  left: -100px;
  top: 100px;
  padding: 34px 40px 31px 36px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.years,
.totale__project {
  font-size: 60px;
  line-height: 78px;
  font-weight: 500;
  font-family: Jost;
}
.years {
  color: var(--color-email);
}
.totale__project {
  color: var(--secondary--yellow);
}
.project {
  font-size: 21px;
  line-height: 27px;
  color: var(--white-title);
  font-weight: 500;
  font-family: Jost;
}
.about__project {
  position: absolute;
  background-color: var(--background-service);
  right: 0;
  bottom: 80px;
  padding: 14px 30px 11px 26px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.about__right > span {
  font-family: Jost;
  color: var(--secondary-orange);
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}

.right__detaills {
  margin: 1.5rem 0 3rem;
  line-height: 30px;
  text-align: start;
}
.about__right {
  padding-left: 60px;
}
.about__right h3 {
  vertical-align: baseline;
  width: 90%;
}

/* **** Stying the about section version mobile ***** */

@media (max-width: 1040px) {
  .app__about > div {
    padding: 2rem 10px;
    gap: 4rem;
    flex-direction: column;
    text-align: center;
  }
  .about__right,
  .about__left {
    flex-basis: none;
    width: 100%;
  }
  .about__right {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
    width: 100%;
  }
  .about__images {
    display: none;
  }

  .right__detaills {
    text-align: center;
  }
}

/* **** Styling the porfolio Version desktop **** */
.app__portfolio {
  display: flex;
  padding: 11.5625rem 0rem 5rem;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 1;
}
.background__left {
  position: absolute;
  top: 150px;
  left: 50px;
}
.background__bottom {
  position: absolute;
  bottom: -120px;
  right: 10px;
}
.portfolio__header {
  padding: 0 7.6rem;
  width: min(100%, 1560px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio__images {
  padding: 0 7.6rem;
  width: min(100%, 1560px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__header p {
  width: 70%;
}

.portfolio__images > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header > ul {
  display: flex;
  align-items: center;
  gap: 3.125rem;
  padding: 4.875rem 0 3.5rem;
}
.header > ul > li:nth-child(1) {
  color: var(--button-primary);
}
.header > ul > li {
  cursor: pointer;
}
.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: auto;
  padding-bottom: 3.5rem;
}
.images div {
  transform: scale(1) translateZ(0);
}
.images > div > img {
  width: 100%;
  object-fit: cover;

  border-radius: 12px;
}

/* ***** Syling the portfolio version mobile ***** */
@media (max-width: 1040px) {
  .app__portfolio {
    display: flex;
    padding: 5rem 10px;
    width: 100%;
  }
  .portfolio__header {
    padding: 0;
  }
  .portfolio__images {
    padding: 0 10px;
    width: 100%;
  }
  .portfolio__header p {
    width: 100%;
  }
  .header > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: 4rem;
  }
  .images {
    display: flex;
    flex-direction: column;
  }
  .background__left {
    position: absolute;
    top: -50px;
    left: 50px;
  }
  .background__bottom {
    position: absolute;
    bottom: -10px;
    right: -200px;
    z-index: -1;
  }
}

/* *** Stlying the skills For verions Desktop **** */
.app__skills {
  display: flex;
  padding: 5rem 7.6rem;
  align-items: flex-start;
  width: min(100%, 1560px);
  margin-inline: auto;
  justify-content: space-between;
}
.skills__left h3 {
  width: 90%;
}
.skills__left p {
  width: 90%;
  line-height: 30px;
}
.skills__left,
.skills__right {
  flex-basis: 50%;
}
.skills__left {
  margin-top: 7rem;
  padding-right: 50px;
}
.skills__right {
}
.skills__right img {
}

.skills_img {
  padding-top: 3.5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
}
.skills_img > div {
  display: flex;
  background-color: var(--background-footer);
  border-radius: 50%;
  height: 90px;
  width: 90px;
  align-items: center;
  justify-content: center;
}
.skills_img img {
  object-fit: cover;
  height: 50%;
  width: 50%;
}

/* Styling the service section for the mobile verions  */
@media (max-width: 1040px) {
  .app__skills {
    display: flex;
    padding: 5rem 10px;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .skills__left,
  .skills__right {
    flex-basis: auto;
  }
  .skills__left {
    margin-top: 7rem;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .skills_img {
    width: 100%;
    justify-content: center;
  }
  .skills__right img {
    max-height: 600px;
  }
}
/* ***Styling the Service for version Deskop *** */
.app__service {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-inline: auto;
  margin-inline: auto;
  position: relative;
  width: 100%;
  padding: 0 0 10rem;
}
.service__image__left {
  position: absolute;
  top: 200px;
  left: 0;
  z-index: 2;
}
.service__image__left img {
  max-width: 460px;
}
.service__image__right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.service__header {
  width: min(100%, 1560px);
  padding: 5rem 7.6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.service__header > p {
  width: 50%;
}
.service_list {
  width: min(100%, 1560px);
  padding: 86px 0 0;
  padding: 0rem 7.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  position: relative;
  z-index: 3;
}
.service_list > div {
  background-color: var(--background-service);
  padding: 2rem;
  border-radius: 12px;
  display: flex;
}
.list__left {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./images/service1.png);
  background-repeat: no-repeat;
  position: relative;
}
.list__left img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.list__right {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.list__right > h3 {
  font-size: 25px;
}
.list__right span {
  color: var(--white-title);
  font-size: 18px;
  padding-bottom: 19px;
}
.price {
  font-size: 20px;
  color: #f75023 !important;
}
/* ***** Styling the section service for the mobile **** */

@media (max-width: 1040px) {
  .app__service {
    padding: 0 0 3rem;
  }
  .service__header {
    width: min(100%, 1560px);
    padding: 5rem 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .service__header > p {
    width: 100%;
  }
  .service_list {
    width: min(100%, 1560px);
    padding: 0rem 2rem;
    grid-template-columns: none;
    grid-template-rows: repeat((4, 1fr));
  }
  .service__image__right {
    display: none;
  }
}

/* ***** Styling the contact section for version desktop ***** */
.app__contact {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.contact__header {
  width: min(100%, 1560px);
  margin-inline: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0rem 7.6rem;
}
.contact__header p {
  width: 60%;
}
.contact__address {
  width: min(100%, 1560px);
  padding: 6rem 7.6rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}
.contact__left,
.contact__right {
  flex-basis: 50%;
}
.contact__left {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

.contact__left h3 {
  font-size: 1.875em;
  line-height: 39px;
  margin-bottom: 0.3125em;
}

.left__address,
.left__email,
.left__phone {
  display: flex;
  gap: 1.5625rem;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.email__icon,
.address__icon,
.phone__icon {
  width: 88px;
  height: 88px;
  border-radius: 100%;
  position: relative;
}
.address__icon {
  background-color: var(--background-address);
}
.contact__left i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
.address__icon i {
  color: var(--color-address);
}
.email__icon {
  background-color: var(--background-email);
  color: var(--color-email);
}
.phone__icon {
  background-color: var(--background-phone);
  color: var(--color-phone);
}

.contact__right {
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInRight;
}
.contact__right > div {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}
.images__left,
.images__right {
  position: absolute;
  z-index: 2;
}
.images__left {
  top: 100px;
  left: 0;
}
.images__right {
  position: absolute;
  bottom: 80px;
}
input {
  border: 0;
  border: 1px solid rgba(214, 219, 229, 0.36);
  width: 100%;
  height: 58px;
  padding: 0 30px;
  background-color: transparent;
  border-radius: 12px;
  color: #6f6b80;
  font-size: 18px;
  padding: 0 30px;
}
textarea {
  width: 100%;
  height: 200px;
  padding: 16px 30px 30px !important;
  background-color: transparent;
  border-radius: 12px;
  color: #b9b5c9;
  border: 1px solid rgba(214, 219, 229, 0.36);
  font-size: 18px;
}
/* **** Styling the contact Section for the version mobile *** */

@media (max-width: 1040px) {
  .contact__header {
    width: min(100%, 1560px);
    margin-inline: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0rem 10px;
    width: 100%;
  }
  .contact__address {
    width: min(100%, 1560px);
    padding: 6rem 10px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-between;
  }
  .contact__header p {
    width: 100%;
  }

  .images__left {
    top: -20px;
    left: 0;
  }
  .images__right {
    position: absolute;
    bottom: 80px;
    right: 0;
  }
}
/* **** Styling the footer Section **** */

.app__footer {
  background-color: var(--background-footer);
  padding: 0 7.6rem;
  width: 100%;
}
.footer__content {
  width: min(100%, 1560px);
  display: flex;
  padding: 3.5625rem 0 3.8125rem;
  justify-content: space-between;
}
.footer__content ul {
  display: flex;
  gap: 2.625rem;
}

/* Styling the footer for the version mobile */

@media (max-width: 1040px) {
  .app__footer {
    background-color: var(--background-footer);
    padding: 0 10px;
    width: 100%;
  }

  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
